[main]
AUTH_URL        = https://www.thingiverse.com
API_URL         = https://api.thingiverse.com
MANIFEST_FILE   = things.json
THING_FILE      = thingdata.json
APP_TOKEN       = the app token issued for your app
